version: "3"

services:
  nlp-using-spacy-app:
    image: nlp-using-spacy-app:latest
    container_name: nlp-using-spacy-app
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MESSAGE_WRITER_PROCESS_COUNT=5
      - MESSAGE_READER_PROCESS_COUNT=5
      - CACHE_SIZE=10
    develop:
      watch:
        - action: sync
          path: ./app
          target: /nlp-using-spacy-app/app